
body {
	background: #c9c9bf;
	color: #474747;
	font-family: Helvetica, sans serif;

}

h1 {
	color: #fae7c5;
}


h3 {
	color: #b84a28;
	padding-bottom: 0.2%;
	border-width: 2px;
	border-top-style: solid;
	border-color: #c9c9bf;
	padding-top: 2%; 
	font-size: 110%;
}

h5 {
	color: #2a3015;
	font-size: 75%;
	text-transform: uppercase;
}

.border {
	
}

a.headline:link, a.headline:visited, a.headline:active {
	color: #fae7c5;
	text-decoration: none;	
}

a.link:link, a.link:visited, a.link:active {
	color: #465232;
	text-decoration: none;	
}

a:hover {
	font-size: 110%;
}


.containerHead {
	color: #ffffffff;
	margin: 0.5% 10% 1.5% 10%;
	padding: 3.5em;
	background-color: #57663e;
}

.container {
	margin: 0.5% 10% 0 10%;
	padding: 3.5em;
	background-color: #ffffff;
	line-hight: 1.35;

}


.container p {
	max-width: 78ch;
}



